.tabela{
    height: auto;
    width: 100px;
    position: absolute;
    right: 70%;
    text-align: center;
    top: 30%;
    border: solid 2px black;
    background-color: orange;
}
form{
    position: absolute;
    top:40%;
}
.barra_carregamento{
    width: 1000px;
    height: 40px;
    border: solid 4px black;
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: row;
}
.divc{
    width: 100px;
    height: 40px;
    background-color: black;
}
tr{
    color: black;
    font-weight: 900;
    border: solid 5px black;
}
